@media only screen and (max-width: 640px){

    /* Footer Responsive Section */
    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-one{
        width: 100%;
        grid-column: span 2;
        margin-bottom: 20px;
    }
    .footer-four{
        width: 100%;
        margin-top: 20px;
        grid-column: span 2;
    }
}