@media only screen and (max-width: 640px){

    /* Responsive Plants Lover Section */
    #plants-lover-container{
        width: 90%;
        display: block;
    }
#plants-lover-img img:nth-child(1){
    width: 100%;
}
#plants-lover-img img:nth-child(2){
    display: none;
}
#plants-lover-text{
    width: 100%;
    margin-top: 18px;
    padding: 0;
    h2{
        font-size: 25px;
    }
    ul li{
        font-size: 18px;
    }
}
    /* Responsive Latest Deals Section */
    #latest-deals-container{
        width: 90%;
        p{
            width: 100%;
        }
    }
    #deals-card-container{
        display: block;
    }
    .deal-card{
        text-align: center;
    }
    .deal-card-two{
        height: 201px;
        margin: 20px 0;
        h5{
            font-size: 20px;
        }
        p{
            font-size: 16px;
        }
    }

    /* Responsive Subscribe Section */
    #subscribe-container{
        height: 300px;
        h3{
            font-size: 27px;
        }

    }
    .subscribe-input{
        width: 85%;
        button{
            padding: 10px 18px;
        }
    }
    /* Footer Responsive Section */
    footer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-one{
        width: 100%;
        grid-column: span 2;
        margin-bottom: 20px;
    }
    .footer-four{
        width: 100%;
        margin-top: 20px;
        grid-column: span 2;
    }
}