/* Root Design Start  */
:root{
    --bgColor: rgb(245,248,255);
    --primaryColor: rgba(233, 90, 8, 1);
    --secondColor: rgba(17, 17, 17, 1);
    --textColor: rgba(0, 0, 0, 0.5);
    --navColor: rgba(137, 135, 161, 1);
    --primaryFont: Inter;
    --secondFont: Noto Serif;
}
/* Root Design End  */

/* Reset CSS Default design */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
    background-color: var(--bgColor);
}
body{
    border: 2px solid;
}
/* Header Section Code Start Here */
header{
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    margin-bottom: 60px;
}
nav{
    margin-top: 15px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 100px;
        height: 72px;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 28px;
        list-style: none;
        li:hover{
            cursor: pointer;
            color: var(--primaryColor);
            text-decoration: underline;
        }
    }
    .nav-list{
        display: flex;
        align-items: center;
        gap: 45px;
    }
    .shopping-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
            img{
        width: 24px;
        height: 24px;
        }
    }
}
/* Hero Section Code */
#hero-container{
    padding-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-right: 58px;
}
.hero-title {
    width: 50%;
}
.hero-title h1{
    font-size: 55px;
    font-weight: bold;
    font-family: var(--secondFont);
}
.hero-title span{
        color: var(--primaryColor);
        font-family: var(--secondFont);
    }
.hero-title p{
    color: var(--textColor);
    font-size: 20px;
    line-height: 27px;
    margin-top: 14px;
}
.hero-img {
    width: 40%;
}
/* Header Section Code End Here */
/* Our Plants Section Code Start Here */
    #our-plants-container{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 65px;
}
.plants-heading{
        font-family: var(--secondFont);
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        span{
            color: var(--primaryColor);
        }
    }
.plants-sub-heading{
        width: 67%;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 400;
        color: var(--textColor);
        text-align: center;
        padding-top: 14px;
        margin-bottom: 36px;
    }
.plants-card-parent-div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.single-card{
    text-align: center;
    
    box-shadow: 4px 5px 10px rgb(204, 204, 204);
    img{
        width: 100%;
        height: 322px;
    }
    h5{
        font-size: 20px;
        font-weight: 500;
        margin-top: 24px;
        margin-bottom: 10px;
    }
    p{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    button{
        border: none;
        background-color: var(--primaryColor);
        color: white;
        font-size: 15px;
        font-weight: 500px;
        padding: 12px 30px;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            background-color: var(--secondColor);
        }
    }
}
/* Our Plants Section Code End Here */

/* Plants Lover Section Code Start Here */
#plants-lover-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 110px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 60px;
}
#plants-lover-img{
    position: relative;
}
#plants-lover-img img:nth-child(1){
    width: 450px;
    height: 510px;
}
#plants-lover-img img:nth-child(2){
    width: 286px;
    height: 286px;
    position: absolute;
    background-color: transparent;
    right: -95px;
    top: -130px;
}
#plants-lover-text{ 
    width: 50%;
    padding: 16px 24px;
    h2{
        font-size: 50px;
        font-weight: bold;
        font-family: var(--secondFont);
        margin-bottom: 20px;
    }
    ul{
        padding-left: 16px;
    }
    ul li{
        font-size: 20px;
        line-height: 27px;
        color: var(--textColor);
        margin-bottom: 20px;
    }
}
/* Plants Lover Section Code End Here */

/* Latest Deals Section Code Start Here */
#latest-deals-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
}
#latest-deals-heading{
    padding-bottom: 50px;
    text-align: center;
    h2{
        font-size: 45px;
        font-weight: bold;
        margin-bottom: 16px;
        font-family: var(--secondFont);
        span{
            color: var(--primaryColor);
            font-family: var(--secondFont);
        }
    }
    p{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        line-height: 27px;
        color: var(--textColor);
    }
}
#deals-card-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 28px;
}
.deal-card{
    height: 201px;
    border: 2px solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    color: white;
    border-radius: 15px;
    h5{
        background: none;
        font-size: 20px;
        font-weight: bold;
        font-family: var(--secondFont);
    }
    p{
        background: none;
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
    }
}
.deal-card-one{
    background-image: url("/assets/deal-bloom.png");
}
.deal-card-two{
    grid-row: span 2;
    background-image: url("/assets/deal-zabo.png");
    height: 423px;
    h5{
        font-size: 35px;
        font-family: var(--secondFont);
    }
    p{
        font-size: 25px;
    }
}
.deal-card-three{
    background-image: url("/assets/deal-ana.png");
}
/* Latest Deals Section Code End Here */

/* Subscribe Section Code Start Here */
#subscribe-container{
    height: 500px;
    margin-top: 100px;
    background-image: url("/assets/news-letter-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 45px;
        font-weight: bold;
        font-family: var(--secondFont);
        background: none;
        margin-bottom: 24px;
        color: white;
    }
}
.subscribe-input{
    width: 45%;
    margin: 0 auto;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    input{
        width: 100%;
        padding: 11px 0;
        padding-left: 10px;
        border: none;
        &:focus{
            outline: none;
        }
    }
    button{
        background: none;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 24px;
        background-color: var(--primaryColor);
        color: white;
        border: none;
        cursor: pointer;
        transition: 0.5;
        &:hover{
            background-color: var(--secondColor);
        }
    }
}
/* Subscribe Section Code End Here */

/* Footer Section Code Start Here */
footer{
    width: 80%;
    margin: 0 auto;
    padding: 45px 0;
    display: flex;
    justify-content: space-between;

}
.footer-one{
    width: 27%;
    img{
        width: 135px;
        height: 82px;
        margin-bottom: 16px;
    }
    p{
        font-size: 18px;
        color: var(--textColor);
    }
}
.footer-two{
    ul li{
        list-style: none;
        color: var(--navColor);
        margin-bottom: 18px;
        cursor: pointer;
    }
}
.footer-three{
    ul li{
        list-style: none;
        color: var(--navColor);
        margin-bottom: 18px;
        cursor: pointer;
    }
}
.footer-four{
    display: flex;
    justify-content: center;
    gap: 18px;
    img{
        width: 32px;
        height: 32px;
    }
    img:nth-child(3){
        width: 25px;
        height: 25px;
    }
}
/* Footer Section Code End Here */