/* Root Design Start  */
:root{
    --bgColor: rgb(245,248,255);
    --primaryColor: rgba(233, 90, 8, 1);
    --secondColor: rgba(17, 17, 17, 1);
    --textColor: rgba(0, 0, 0, 0.5);
    --navColor: rgba(137, 135, 161, 1);
    --primaryFont: Inter;
    --secondFont: Noto Serif;
}
/* Root Design End  */

/* Reset CSS Default design */
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primaryFont);
    background-color: var(--bgColor);
}
/* Header Section Code Start Here */
header{
    width: 80%;
    margin: 0 auto;
    height: 90vh;
    margin-bottom: 60px;
}
nav{
    margin-top: 15px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
        width: 100px;
        height: 72px;
    }

    ul{
        display: flex;
        justify-content: center;
        gap: 28px;
        list-style: none;
        li:hover{
            cursor: pointer;
            color: var(--primaryColor);
            text-decoration: underline;
        }
    }
    .nav-list{
        display: flex;
        align-items: center;
        gap: 45px;
    }
    .shopping-cart{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
            img{
        width: 24px;
        height: 24px;
        }
    }
}
/* Hero Section Code */
#hero-container{
    padding-top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-right: 58px;
}
.hero-title {
    width: 50%;
}
.hero-title h1{
    font-size: 55px;
    font-weight: bold;
    font-family: var(--secondFont);
}
.hero-title h1 span{
        color: var(--primaryColor);
    }
.hero-title p{
    color: var(--textColor);
    font-size: 20px;
    line-height: 27px;
    margin-top: 14px;
}
.hero-img {
    width: 40%;
}
/* Header Section Code End Here */
/* Our Plants Section Code Start Here */

/* Our Plants Section Code End Here */